/*/////////////////////////// FONT CSS //////////////////// */

@font-face {
  src: url(/static/fonts/look-up.ttf);
  font-family: 'look-up';
}

body {
  font-family: 'Roboto', serif;
  font-size: 1em;
}

.container {
  padding-top: 15px;
  padding-bottom: 5px;
}

/*/////////////////////////// TEXT & PARAGRAPHS CSS //////////////////// */

p {
  white-space: nowrap;
  width: 500px;
  height: 100px;
  margin: 0 50px 0 0px;
  overflow: hidden;                  
  text-overflow: ellipsis;
  word-wrap: break-word;
}

h2 {
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 2.5em;
  color: #5d7a8a;
}

h3 {
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  font-size: 2em;
  font-weight: 600;
  color: #000000;
}

h6 {
  margin-left: auto;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  color: #5d7a8a;
}

h7 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 25px;
}


/*/////////////////////////// BUTTONS //////////////////// */

.btn-edit {
  background: #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-size: 16px;
  line-height: inherit;
  padding: 10px 50px;
  text-align: center;
  display: block;
  margin:20px 0 80px 0;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
  /*height: 48px;*/
  /*line-height: 24px;*/
  /*padding: 10px;*/
}

.btn-edit:hover,.btn-edit:active, .btn-edit:focus {
	border-color: #0e367c;
	color: #ffffff;
	background-color: #0e367c;
}

.btn-delete {
	background: #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-size: 16px;
  line-height: inherit;
  padding: 10px 50px;
  text-align: center;
  display: block;
  margin:20px 0 80px 0;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}

.btn-delete:hover,.btn-delete:active, .btn-delete:focus {
	border-color: #f44242;
	color: #ffffff;
	background-color: #f44242;
}

.btn-submit {
	background: #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-size: 16px;
  line-height: inherit;
  padding: 10px 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}

.btn-submit:hover,.btn-submit:active, .btn-submit:focus {
	border-color: #4874bf;
	color: #ffffff;
	background-color: #4874bf;
}

.btn-outline-info{
	background: #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-size: 16px;
  line-height: inherit;
  padding: 10px 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}

.btn-outline-info:hover,.btn-outline-info:active, .btn-outline-info:focus {
	border-color: #4874bf;
	color: #ffffff;
	background-color: #4874bf;
}


/*/////////////////////////// NAV BAR ///////////////////////*/

.navbar {
  border-radius: 6px;
}

.nav-item {
  width: 100%;
  min-height: 10px;
  line-height: 10px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: rgba(0,0,0,.4);
  margin: 0.5em auto;
}

.nav-item::after {
     content: '';
     display: block;
     width: 0px;
     height: 2px;
     /*margin-bottom: 20px;*/
     background: #f44242;
     transition: 0.4s
 }

 .nav-item:hover::after {
     width: 100%
 }

 .navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show,
 .navbar-light .navbar-nav .show>.nav-link,
 .navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover {
     color: #f44242
 }

 .nav-link {
     padding: 15px 5px;
     transition: 0.2s
 }

.navbar-brand {
  margin-top:-5px;
  margin-left:20px;
  font-family: 'look-up';
  font-size:30px;
  /*font-weight:bold;*/
  color:#f44242 !important;
  text-transform:uppercase;
  /*text-shadow:  -1px -1px 0 #000,*/
		/*            1px -1px 0 #000,*/
		/*            -1px 1px 0 #000,*/
		/*            1px 1px 0 #000;*/
}


/*/////////////////////////// CAROUSEL CSS //////////////////// */

.carousel {
  padding-top: 10px;
}


/*/////////////////////////// SEARCH BOX CSS //////////////////// */

.search-sec {
  padding: 1em;
  margin-top: 1em;
}

@media (min-width: 992px){
  .search-sec{
    position: relative;
    top: -104px;
    background: rgba(72,116,191,0.51);
  }
}

@media (max-width: 992px){
  .search-sec{
    position: relative;
    top: -104px;
    background: rgba(72,116,191,0.51);
  }
}


/*/////////////////////////// FORM ///////////////////////*/

.form-control {
	border-radius: 0;
	border-color: #aaaaaa;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
	border-color: #aaaaaa;
}

/*Styling for form inputs*/
.form-label {
	font-size: 16px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
}


/*/////////////////////////// MAP ///////////////////////*/

 /* Set the size of the div element that contains the map */
/*  #map {*/
    /*height: 400px;  /* The height is 400 pixels
    /*width: 100%;  /* The width is the width of the web page
/*    background-color: grey;*/
/*   }*/

.playground-map .playground-info .icon {
  color:#ffb526;
}

.playground-map {
  margin-top:50px;
  padding-bottom:100px;
}

.playground-map .playground-info {
  margin-bottom:20px;
  /*border-bottom:1px solid #e4e4e4;*/
  padding-bottom:30px;
}

.playground-map .info {
  position: absolute;
  width: auto;
  margin-bottom:20px;
  /*border-bottom:1px solid #e4e4e4;*/
  padding-bottom:20px;
  color:#636363;
}

/*.playground-map .user-playground-images .photos-title {*/
/*  display: block;*/
/*  font-size: 1.5em;*/
/*  font-weight: bold;*/
/*  color: #000000;*/
/*  text-align: left;*/
/*  margin-top: 10px;*/
/*  margin-bottom: 25px;*/
/*}*/

.playground-map .user-playground-images .image {
  margin-bottom:15px;
  box-shadow:0px 2px 10px rgba(0, 0, 0, 0.15);
}

.playground-map #map {
  height: 300px;
  margin-bottom: 20px;
}


/*/////////////////////////// CARD GRID ///////////////////////*/

.card-like {
  width: 18px;
}

.card-clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}

.card-borough {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card-clock-info {
  float: right;
}

.card-img {
  visibility: visible;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card-img-hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin-right: 25px;
  margin-top: 30px; 
  margin-bottom: 50px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card-info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card-category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card-by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card-author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover .card-img-hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card-info {
  background-color: transparent;
  position: relative;
}

.card:hover .card-info-hover {
  opacity: 1;
}



/*/////////////////////////// FOOTER ///////////////////////*/

.site-footer
{
  border-radius: 6px;
  background-color:#26272b;
  padding:5px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer .small
{
  margin:60px 0
}

.site-footer a
{
  color:#737373;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links li
{
  display:block
}

.site-footer .social-icons
{
  text-align:right
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text
{
  margin:0
}

@media (max-width:991px)
{

.site-footer {
    margin-bottom:20px
  }
}

@media (max-width:767px)
{
.site-footer
  {
    padding-bottom:0
  }
.site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons .facebook:hover
{
  background-color:#3b5998
}
.social-icons .twitter:hover
{
  background-color:#00aced
}
.social-icons .linkedin:hover
{
  background-color:#007bb6
}
.social-icons .github:hover
{
  background-color:#333
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}