{% extends 'base.html' %}
{% block content %}



<h3>Add Playground</h3>


<div class="container">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Playground Name" id="playground_name" type="text" class="validate">
          <label for="playground">Playgound</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>

      	<div class="input-field col s6">
      		<select class="icons">
      		  <option value="" disabled selected>Select Borough</option>
      		    <option value="" data-icon="images/sample-1.jpg">example 1</option>
      		    <option value="" data-icon="images/office.jpg">example 2</option>
      		    <option value="" data-icon="images/yuna.jpg">example 3</option>
      		</select>
      	    <label for="borough_selector">Borough</label>
      	    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      	</div>
      </div>
    
      <div class="row">
        <div class="input-field col s6">
          <p class="range-field">
            <label for="rating">Rating</label>
            <input type="range" id="rating" min="0" max="10" />
          </p>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
 
        <div class="file-field input-field col s6">
          <div class="btn">
            <span>Image</span>
            <input type="file" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more images">
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          <textarea id="icon_prefix2" class="materialize-textarea" data-length="300"></textarea>
          <label for="review">Review</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
      </div>
    </form>
</div>


{% endblock %}