{% extends 'base.html' %}
{% block content %}



<h3>Add Playground</h3>

<div class="container">
    
    <div class="col-8">
      <form action="" method="POST">
        <div class="form-group">
          <label for="email2">Playground</label>
          <input type="text" class="form-control" id="playground_name" name="playground_name" aria-describedby="emailHelp" placeholder="Enter playground name">
        </div>
        
        <div class="form-group">
          <label for="borough_name">Borough</label>
            <select class="custom-select" name="borough_name" id="borough_name">
              <option disabled selected>Choose a borough</option>
              {% for b in boroughs %}
                <option value="{{ b.borough_name }}"> {{ b.borough_name }} </option>
              {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
          <label for="formControlRange">Example Range input</label>
          <input type="range" class="form-control-range" name="star_rating" id="star_rating" min="0" max="10">
        </div>

        
        <div class="form-group">
          <label for="description1">Review</label>
          <textarea class="form-control" name="playground_descreption" id="playground_descreption" rows="3" placeholder="Write your review here..."></textarea>
        </div>
        
        <div class="form-group">
          <label for="addImage">Images</label>
          <div class="input-group" id="addImage">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon2"><i class="far fa-file-image"></i></span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="file2" aria-describedby="addon2">
              <label class="custom-file-label" for="file2">Choose file</label>
            </div>
          </div>
        </div>
        
        <div class="custom-control custom-checkbox form-group">
            <input type="checkbox" class="custom-control-input" id="checkTerms">
            <label class="custom-control-label" for="checkTerms">I have read and understood the Terms & Conditions.</label>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}