{% extends 'base.html' %}
{% block content %}

<div class="row">
    
     {% for playground in playgrounds %}
    <div class="col-md-3 col-sm-12">
		<div class="square-card">
	<a href="#" alt="square card">
		<div class="card-header">
			<div class="card-header_overlay">
				<span class="pill">$35.70</span>
			</div>
		</div>
		<div class="card-title">
			<h4>cocktail fruit salad with freshness</h4>			
		</div>
		<div class="cta">
            <!-- <a href="https://google.com">view recipe</a> -->
			<a  href="https://google.com">add to bag</a>
		</div>
	</a>
</div>
	</div>
    
    {% endfor %}
</div>

{% endblock %}


{% for recipe in recipes %}
        <div class="col-sm-12 col-md-6 col-lg-4 loop-item">
            <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}">
            <div class="card">
                <img class="card-img-top" src="{{recipe.image_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.recipe_name}}</h5>
                    <p class="card-details"> by {{recipe.author}} </p>
                </div>
                <div class="card-footer text-muted">
                    <p class="card-details">{{recipe.cuisine_name}}</p>
                    {% if recipe.course_name == "Main" %}
                        <p class="card-details">  {{recipe.course_name}} Course</p>
                    {% else %}
                        <p class="card-details">{{recipe.course_name}}</p>
                    {% endif %}
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
</div>