{% extends 'base.html' %} 
{% block content %}

<div class="row">
  <div class="col-md-3 col-sm-12">
		<div class="square-card">
	<a href="#" alt="square card">
		<div class="card-header">
			<div class="card-header_overlay">
				<span class="pill">$35.70</span>
			</div>
		</div>
		<div class="card-title">
			<h4>cocktail fruit salad with freshness</h4>			
		</div>
		<div class="cta">
<!-- 			<a href="https://google.com">view recipe</a> -->
			<a  href="https://google.com">add to bag</a>
		</div>
	</a>
</div>
	</div>
  <div class="col-md-3 col-sm-12">
		<div class="square-card">
	<a href="#" alt="square card">
		<div class="card-header">
			<div class="card-header_overlay">
				<span class="pill">$35.70</span>
			</div>
		</div>
		<div class="card-title">
			<h4>cocktail fruit salad with freshness</h4>			
		</div>
		<div class="cta">
<!-- 			<a href="https://google.com">view recipe</a> -->
			<a  href="https://google.com">add to bag</a>
		</div>
	</a>
</div>
	</div>
  <div class="col-md-3 col-sm-12">
		<div class="square-card">
	<a href="#" alt="square card">
		<div class="card-header">
			<div class="card-header_overlay">
				<span class="pill">$35.70</span>
			</div>
		</div>
		<div class="card-title">
			<h4>cocktail fruit salad with freshness</h4>			
		</div>
		<div class="cta">
<!-- 			<a href="https://google.com">view recipe</a> -->
			<a  href="https://google.com">add to bag</a>
		</div>
	</a>
</div>
	</div>
	<div class="col-md-3 col-sm-12">
		<div class="square-card">
	<a href="#" alt="square card">
		<div class="card-header">
			<div class="card-header_overlay">
				<span class="pill">$35.70</span>
			</div>
		</div>
		<div class="card-title">
			<h4>cocktail fruit salad with freshness</h4>			
		</div>
		<div class="cta">
<!-- 			<a href="https://google.com">view recipe</a> -->
			<a  href="https://google.com">add to bag</a>
		</div>
	</a>
</div>
	</div>
</div>

{% endblock %}