{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row form-border">
        <form action="{{ url_for('update_playground', playground_id=playground._id) }}" method="POST" class="col-lg-12">

            <div class="row">
                <div class="form-group text-center col-lg-12">
                    <h2>
                        Edit Playground
                    </h2>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group col-lg-12">
                    <div class="row">
                        <label for="playground_name" class="form-label">Playground</label>
                        <input type="text" class="form-control" id="playground_name" name="playground_name" placeholder="Enter playground name" value="{{ playground.playground_name }}">
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <div class="row">
                        <label for="borough_name" class="form-label">Borough</label>
                        <select class="form-control" name="borough_name" id="borough_name">
                    <option disabled selected>Choose a borough</option>
                        {% for borough in boroughs %}
                        {% if borough.borough_name == playground.borough_name %}
                    <option value="{{ borough.borough_name }}" selected> {{ borough.borough_name }} </option>
                        {% else %}
                    <option value="{{ borough.borough_name }}"> {{ borough.borough_name }} </option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="playground_description" class="form-label">Review</label>
                        <textarea class="form-control" name="playground_description" id="playground_description" rows="3"> {{ playground.playground_description }}</textarea>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <div class="row">
                        <label for="image_url" class="form-label">Images</label>
                        <input type="text" class="form-control" id="image_url" name="image-url" aria-describedby="" placeholder="Enter Main Image URL" value="{{ playground.image_url }}">
                        <input type="text" class="form-control" id="image_url" name="img1_url" aria-describedby="" placeholder="Enter Supporting Image URL" value="{{ playground.img1_url }}">
                        <input type="text" class="form-control" id="image_url" name="img2_url" aria-describedby="" placeholder="Enter Supporting Image URL" value="{{ playground.img2_url }}">
                        <input type="text" class="form-control" id="image_url" name="img3_url" aria-describedby="" placeholder="Enter Supporting Image URL" value="{{ playground.img3_url }}">
                    </div> 
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn-submit">
                            <span> SUBMIT <i class="far fa-paper-plane"></i> </span>
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}