 {% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <section>
        <div id="playgroundCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/images/carousel/playground-blossom.jpg" class="d-block w-100" alt="First Slide">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/carousel/climbing-frame.jpg" class="d-block w-100" alt="Second Slide">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/carousel/colors-empty-equipment.jpg" class="d-block w-100" alt="Third Slide">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/carousel/winter-swing.jpg" class="d-block w-100" alt="Fourth Slide">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/carousel/horse-ride.jpg" class="d-block w-100" alt="Fifth Slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#playgroundCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#playgroundCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section class="search-sec">
        <form action="#" method="POST">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="form-group">
                        <select method="POST" type="submit" class="form-control" name="borough_name" id="borough_name" onChange="window.location.href=this.value">
                            <option disabled selected>
                                Choose a borough
                            </option>
                                {% for borough in boroughs %}
                            <option value="{{url_for('browse_playground', borough_name=borough)}}"> 
                                {{ borough }} 
                            </option>
                                {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}