
{% extends 'base.html' %}
{% block content %}
    {% for playground in playgrounds %}
        {{ playground.borough_name }}
        {{ playground.playground_name }}
        {{ playground.playground_descreption }}
        {{ playground.star_rating }}
        {{ playground.entry_date }}
    {% endfor %}
  
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
      
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      
    </div>
    <div class="carousel-item">
      <a><img src="/static/images/carousel/playground-blossom.jpg"></a>
    </div>
    <div class="carousel-item" href="#two!">
        <a><img src="/static/images/carousel/climbing-frame.jpg"></a>
    </div>
    <div class="carousel-item" href="#three!">
      <a><img src="/static/images/carousel/art-swing.jpg"></a>
    </div>
    <div class="carousel-item" href="#four!">
      <a><img src="/static/images/carousel/sandpit-boy.jpg"></a>
    </div>
    <div class="carousel-item" href="#five!">
      <a><img src="/static/images/carousel/horse-ride.jpg"></a>
    </div>
  </div>

{% endblock %}
    
